<a href="https://colab.research.google.com/github/Mrcucumber16/ML_econom_2022-2023/blob/main/baseline_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import random
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

!pip install pymorphy2
import re
from pymorphy2 import MorphAnalyzer
from functools import lru_cache
from nltk.corpus import stopwords

from multiprocessing import Pool
from tqdm import tqdm

import nltk
nltk.download('stopwords')

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

np.random.seed(42)
random.seed(42)

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymorphy2
  Downloading pymorphy2-0.9.1-py3-none-any.whl (55 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 55 kB 1.9 MB/s
Collecting pymorphy2-dicts-ru<3.0,>=2.4
  Downloading pymorphy2_dicts_ru-2.4.417127.4579844-py2.py3-none-any.whl (8.2 MB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 8.2 MB 10.5 MB/s
Collecting docopt>=0.6
  Downloading docopt-0.6.2.tar.gz (25 kB)
Collecting dawg-python>=0.7.1
  Downloading DAWG_Python-0.7.2-py2.py3-none-any.whl (11 kB)
Building wheels for collected packages: docopt
  Building wheel for docopt (setup.py) ... done
  Created wheel for docopt: filename=docopt-0.6.2-py2.py3-none-any.whl size=13723 sha256=9f3fb34c1acf8b653cc6937f5516f00fcb8a1bfdd338d58ab9beeb589cf98fa0
  Stored in directory: /root/.cache/pip/wheels/56/ea/58/ead137b087d9e326852a851351d1debf4ada529b6ac0ec4e8c
Successfully built docopt
Installing collected packages: pymorphy2-dicts-ru, docopt, dawg-python, pymorphy2
Successfully installed dawg-python-0.7.2 docopt-0.6.2 pymorphy2-0.9.1 pymorphy2-dicts-ru-2.4.417127.4579844

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
import kaggle

OSError: ignored

In [ ]:
!kaggle competitions download -c hse-nlp-bootcamp

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python3.8/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python3.8/dist-packages/kaggle/api/kaggle_api_extended.py", line 164, in authenticate
    raise IOError('Could not find {}. Make sure it\'s located in'
OSError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [ ]:
df = pd.read_csv('train_ml.csv')
df

,bank,feeds,grades,date
0,ubrr,"–ú–Ω–æ–≥–æ –ª–µ—Ç —è–≤–ª—è—é—Å—å –∫–ª–∏–µ–Ω—Ç–æ–º —ç—Ç–æ–≥–æ –±–∞–Ω–∫–∞, –Ω–æ¬†–ø–æ—Å...",1.0,16.02.2017 16:10
1,fk_otkritie,"–ì. –†–æ—Å—Ç–æ–≤-–Ω–∞-–î–æ–Ω—É, —É–ª. –õ–µ–Ω–∏–Ω–∞, 48. –ë—ã–ª–∏ 10.12....",2.0,13.12.2016 1:05
2,alfabank,–ó–¥—Ä–∞–≤—Å—Ç–≤—É–π—Ç–µ!–†–∞–Ω–µ–µ —É–∂–µ –æ—Å—Ç–∞–≤–ª—è–ª –æ—Ç–∑—ã–≤ –æ –≤–∞—à–µ–º ...,NaN,28.06.2019 13:54
3,vtb,–û–±—Ä–∞—â–∞—é—Å—å –∫ –í–∞–º —Å –∂–∞–ª–æ–±–æ–π –Ω–∞ –Ω–µ–∑–∞–∫–æ–Ω–Ω–æ–µ —Å–ø–∏—Å–∞–Ω...,NaN,15.07.2020 14:54
4,promsvyazbank,"–ò–º–µ—é –ø–æ—Ç—Ä–µ–±–∏—Ç–µ–ª—å—Å–∫–∏–π –∫—Ä–µ–¥–∏—Ç, –≤–∑—è—Ç—ã–π –≤ –°–≤—è–∑—å-–±–∞...",2.0,04.08.2020 6:38
...,...,...,...,...
74995,trust,–¢—Ä–∏ –≥–æ–¥–∞ –¥–ª–∏—Ç—Å—è —ç–ø–æ–ø–µ—è —Å –∑–∞–∫—Ä—ã—Ç–∏–µ–º –∫—Ä–µ–¥–∏—Ç–Ω–æ–π –∫...,1.0,26.10.2016 11:03
74996,fk_otkritie,"–Ø–≤–ª—è–ª—Å—è –∫–ª–∏–µ–Ω—Ç–æ–º –ë–∏–Ω–±–∞–Ω–∫–∞, –ø–æ–∫–∞ –ø–æ—Å–ª–µ —Å–ª–∏—è–Ω–∏—è ...",2.0,01.02.2020 21:07
74997,sberbank,8 –º–∞—è 2016 –≥. –º–Ω–æ—é –≤–Ω–æ—Å–∏–ª–∏—Å—å –¥–µ–Ω—å–≥–∏ –Ω–∞ –±–∞–Ω–∫–æ–≤—Å...,1.0,14.06.2016 16:03
74998,uralsib,–ó–¥—Ä–∞–≤—Å—Ç–≤—É–π—Ç–µ! –°–µ–≥–æ–¥–Ω—è 21.04.2020 –∑–∞—Ö–æ–∂—É –≤ –º–æ–±–∏...,3.0,21.04.2020 8:24
74999,bnpparibaseast,–£–≤–∞–∂–∞–µ–º–æ–µ —Ä—É–∫–æ–≤–æ–¥—Å—Ç–≤–æ –±–∞–Ω–∫–∞!–ï—Å–ª–∏ –≤—Å–µ —É—Å–ª—É–≥–∏ –≤–∞...,1.0,01.06.2011 13:05

# Some EDA

–°—Ä–∞–∑—É –≤–∏–¥–∏–º, —á—Ç–æ –≤ —Å—Ç–æ–ª–±—Ü–µ —Å —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π (`grades`) –µ—Å—Ç—å –ø—Ä–æ–ø—É—Å–∫–∏. –í —ç—Ç–æ–º –Ω–æ—É—Ç–±—É–∫–µ –±—É–¥–µ–º –æ–±—É—á–∞—Ç—å—Å—è –Ω–∞ –æ—Ç–∑—ã–≤–∞—Ö, –¥–ª—è –∫–æ—Ç–æ—Ä—ã—Ö –µ—Å—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∑–Ω–∞—á–µ–Ω–∏–∏ —Ç–∞—Ä–≥–µ—Ç–∞. **–ù–æ —ç—Ç–æ –Ω–µ –µ–¥–∏–Ω—Å—Ç–≤–µ–Ω–Ω—ã–π –ø–æ–¥—Ö–æ–¥. –ü–æ–¥—É–º–∞–π—Ç–µ, —á—Ç–æ –µ—â—ë –º–æ–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å**

–ü–æ—Å–º–æ—Ç—Ä–∏–º, –µ—Å—Ç—å –ª–∏ –ø—Ä–æ–ø—É—Å–∫–∏ –≤ –ø—Ä–∏–∑–Ω–∞–∫–∞—Ö

In [1]:
df.info()

NameError: ignored

–°—Ä–∞–∑—É –ø—Ä–µ–æ–±—Ä–∞–∑—É–µ–º —Å—Ç–æ–ª–±–µ—Ü —Å –º–µ—Ç–∫–æ–π –≤—Ä–µ–º–µ–Ω–∏ –∫ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–µ–º—É —Ñ–æ—Ä–º–∞—Ç—É. –ò —É–¥–∞–ª–∏–º —Å—Ç—Ä–æ—á–∫–∏ —Å –ø—Ä–æ–ø—É—Å–∫–∞–º–∏ –≤ —Ç–∞—Ä–≥–µ—Ç–µ

In [ ]:
df['date'] = pd.to_datetime(df['date'], format='%d.%m.%Y %H:%M')
df = df.dropna()
df = df.astype({'grades': 'int32'})
df

–ü–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ —á–∏—Å–ª–∞ –æ—Ç–∑—ã–≤–æ–≤ –ø–æ –±–∞–Ω–∫–∞–º

In [ ]:
feeds_by_bank_count = df.bank.value_counts()
feeds_by_bank_count

In [ ]:
plt.figure(figsize=(40,20))
sns.histplot(data=df.sort_values(by='bank'), 
             x=df.bank, )
plt.xticks(rotation=45)
plt.show()

–ì–ª—è–Ω–µ–º –Ω–∞ —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç—Å–∫–∏—Ö –æ—Ü–µ–Ω–æ–∫

In [ ]:
df.grades.value_counts().sort_index()

In [ ]:
plt.figure(figsize=(20, 10))
sns.histplot(data=df, 
             x=df.grades, )
plt.show()

–¢–∞–∫–∂–µ –Ω–∞—Å –∏–Ω—Ç–µ—Ä–µ—Å—É—é—Ç –¥–ª–∏–Ω—ã –æ—Ç–∑—ã–≤–æ–≤

In [ ]:
df['sym_len'] = df.feeds.apply(len)
df['word_len'] = df.feeds.apply(lambda x: len(x.split()))

In [ ]:
plt.figure(figsize=(15, 10))
sns.histplot(data=df.sym_len)
plt.show()

In [ ]:
plt.figure(figsize=(15, 10))
sns.histplot(data=df.word_len)
plt.show()

–û–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ, —É —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–π –æ—á–µ–Ω—å –¥–ª–∏–Ω–Ω—ã–µ —Ö–≤–æ—Å—Ç—ã

# Baseline (tf-idf + logreg)

–ü–æ–¥–≥–æ—Ç–∞–≤–ª–∏–≤–∞–µ–º —Ç–µ–∫—Å—Ç—ã –æ—Ç–∑—ã–≤–æ–≤ (–≤–∑—è—Ç–æ –∏–∑ –Ω–æ—É—Ç–±—É–∫–∞ –≤—Ç–æ—Ä–æ–≥–æ –∑–∞–Ω—è—Ç–∏—è üòÉ)

In [ ]:
m = MorphAnalyzer()
regex = re.compile("[–ê-–Ø–∞-—èA-z]+")

def words_only(text, regex=regex):
    try:
        return regex.findall(text.lower())
    except:
        return []

@lru_cache(maxsize=128)
def lemmatize_word(token, pymorphy=m):
    return pymorphy.parse(token)[0].normal_form

def lemmatize_text(text):
    return [lemmatize_word(w) for w in text]


mystopwords = stopwords.words('russian') 
def remove_stopwords(lemmas, stopwords = mystopwords):
    return [w for w in lemmas if not w in stopwords and len(w) > 3]

def clean_text(text):
    tokens = words_only(text)
    lemmas = lemmatize_text(tokens)
    
    return ' '.join(remove_stopwords(lemmas))

In [ ]:
with Pool(4) as p:
    lemmas = list(tqdm(p.imap(clean_text, df['feeds']), total=len(df)))
    
df['lemmas'] = lemmas
df.sample(5)

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 51476/51476 [22:30<00:00, 38.11it/s]

,bank,feeds,grades,date,sym_len,word_len,lemmas
13059,crediteuropebank,–î–æ–±—Ä–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏ —Å—É—Ç–æ–∫. –•–æ—Ç–µ–ª–æ—Å—å –±—ã –ø–æ–Ω—è—Ç—å –æ–¥–∏–Ω...,2,2014-06-16 21:17:00,831,123,–¥–æ–±—Ä—ã–π –≤—Ä–µ–º—è —Å—É—Ç–∫–∏ —Ö–æ—Ç–µ—Ç—å—Å—è –ø–æ–Ω—è—Ç—å –º–æ–º–µ–Ω—Ç –∏–º–µ–Ω...
52081,pochtabank,"–°–∞–º—ã–π —Ö—É–¥—à–∏–π –±–∞–Ω–∫, –≤ –∫–æ—Ç–æ–º –∫–æ–≥–¥–∞-–ª–∏–±–æ –æ–±—Å–ª—É–∂–∏–≤...",1,2020-07-11 16:50:00,1153,172,—Å–∞–º—ã–π –ø–ª–æ—Ö–æ–π –±–∞–Ω–∫ –ª–∏–±–æ –æ–±—Å–ª—É–∂–∏–≤–∞—Ç—å—Å—è –ø–æ–¥–∞—Ç—å –∑–∞...
45837,vozrozhdenie,"–†–µ—á—å –ø–æ–π–¥—ë—Ç –æ –í–æ–ª–∂—Å–∫–æ–º —Ñ–∏–ª–∏–∞–ª–µ –ë–∞–Ω–∫–∞ ""–í–æ–∑—Ä–æ–∂–¥–µ...",5,2006-10-24 09:25:00,1415,205,—Ä–µ—á—å –ø–æ–π–¥–∞ –≤–æ–ª–∂—Å–∫–∏–π —Ñ–∏–ª–∏–∞–ª –±–∞–Ω–∫ –≤–æ–∑—Ä–æ–∂–¥–µ–Ω–∏–µ –≤–æ...
65334,vtb,–Ø —Å –º—É–∂–µ–º –ø–æ–ª—É—á–∞–µ–º –∑–∞—Ä–ø–ª–∞—Ç—É –Ω–∞ –∫–∞—Ä—Ç—É –í–¢–ë —Å –º–∞—è...,1,2018-03-27 09:37:00,483,73,–ø–æ–ª—É—á–∞—Ç—å –∑–∞—Ä–ø–ª–∞—Ç–∞ –∫–∞—Ä—Ç–∞ –Ω–µ–¥–∞–≤–Ω–æ —Ö–æ—Ç–µ—Ç—å –≤–∑—è—Ç—å –ø...
69729,pochtabank,–ü–æ–ª—É—á–∏–ª–∞ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –æ—Ñ–æ—Ä–º–∏—Ç—å –∫—Ä–µ–¥–∏—Ç–Ω—É—é –∫–∞—Ä—Ç—É ...,5,2016-08-05 14:26:00,578,80,–ø–æ–ª—É—á–∏—Ç—å –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –æ—Ñ–æ—Ä–º–∏—Ç—å –∫—Ä–µ–¥–∏—Ç–Ω—ã–π –∫–∞—Ä—Ç–∞ ...

–ë—É–¥–µ–º –æ–±—É—á–∞—Ç—å—Å—è –∏—Å–∫–ª—é—á–∏—Ç–µ–ª—å–Ω–æ –Ω–∞ —Ç–µ–∫—Å—Ç–∞—Ö –æ—Ç–∑—ã–≤–æ–≤ (–ø—Ä–∏–∑–Ω–∞–∫–∏ `bank`–∏ `date` –Ω–µ –∏—Å–ø–æ–ª—å–∑—É–µ–º –æ—Ç —Å–ª–æ–≤–∞ —Å–æ–≤—Å–µ–º -- **–º—ã –Ω–µ –∏—Å–ø–æ–ª—å–∑—É–µ–º, –∞ –≤—ã –≤ —Å–≤–æ–∏—Ö —Ä–µ—à–µ–Ω–∏—è—Ö –ø–æ–ø—Ä–æ–±—É–π—Ç–µ**)

In [ ]:
y_train = df.grades
y_train = y_train.reset_index().drop(columns='index')
del df # –≤—ã—Å–≤–æ–±–æ–¥–∏–º –æ–ø–µ—Ä–∞—Ç–∏–≤—É, –æ–Ω–∞ –Ω–∞–º –Ω–µ –ø–æ–º–µ—à–∞–µ—Ç

–û–±—É—á–∏–º—Å—è –Ω–∞ –≤—Å–µ—Ö –æ–±—ä–µ–∫—Ç–∞—Ö, –∞ –ø–æ—Ç–æ–º —Å–¥–µ–ª–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–µ –Ω–∞ —Ç–µ—Å—Ç–µ –∏–∑ —Å–æ—Ä–µ–≤–Ω–æ–≤–∞–Ω–∏—è. –ù–∏ –±–æ–ª—å—à–µ, –Ω–∏ –º–µ–Ω—å—à–µ

In [ ]:
%%time
vec = TfidfVectorizer(ngram_range=(1, 2)) # –∏—Å–ø–æ–ª—å–∑—É–µ–º —É–Ω–∏-, –±–∏–≥—Ä–∞–º–º—ã
bow = vec.fit_transform(lemmas)
clf = LogisticRegression(random_state=42, max_iter=500, warm_start=True)

CPU times: user 26.9 s, sys: 1.1 s, total: 28 s
Wall time: 28 s

In [ ]:
y_train

       grades
0           1
1           2
2           2
3           5
4           2
...       ...
51471       1
51472       2
51473       1
51474       3
51475       1

[51476 rows x 1 columns]

In [ ]:
# –Ω–µ–±–æ–ª—å—à–æ–π —Ç—Ä—é–∫: –±—É–¥–µ–º –æ–±—É—á–∞—Ç—å—Å—è —á–∞—Å—Ç—è–º–∏
ran = np.arange(y_train.shape[0])
inds = np.array_split(ran, 10) # —Ä–∞–∑–æ–±—ä–µ–º –Ω–∞ 10 —á–∞—Å—Ç–µ–π
# –∏ –ø–æ–¥–º–µ—à–∞–µ–º –∫ –∫–∞–∂–¥–æ–º—É –∫—É—Å–∫—É —Å–ª—É—á–∞–π–Ω—ã—Ö –æ–±—ä–µ–∫—Ç–æ–≤
inds = [np.concatenate((chunk, np.array(random.sample(list(ran), k=1000))), axis=None) for chunk in inds]

for chunk in tqdm(inds):
    clf.fit(bow[chunk, :], y_train.iloc[chunk])

  0%|          | 0/10 [00:00<?, ?it/s]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 10%|‚ñà         | 1/10 [02:55<26:15, 175.09s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 20%|‚ñà‚ñà        | 2/10 [05:21<21:06, 158.33s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 30%|‚ñà‚ñà‚ñà       | 3/10 [08:03<18:40, 160.13s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 40%|‚ñà‚ñà‚ñà‚ñà      | 4/10 [10:45<16:03, 160.64s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 50%|‚ñà‚ñà‚ñà‚ñà‚ñà     | 5/10 [13:04<12:44, 153.00s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 60%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà    | 6/10 [15:26<09:56, 149.05s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 70%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà   | 7/10 [18:08<07:40, 153.48s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 80%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà  | 8/10 [20:34<05:01, 150.84s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
 90%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà | 9/10 [22:55<02:27, 147.92s/it]/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 10/10 [25:26<00:00, 152.67s/it]

–ó–∞–≥—Ä—É–∑–∏–º —Ç–µ—Å—Ç. –ü—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∞–µ–º –æ—Ç–∑—ã–≤—ã –≤ –Ω–µ–º –∏ —Å–¥–µ–ª–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è

In [ ]:
test = pd.read_csv('new_test_ml.csv', index_col=0)
test

,bank,feeds,date
0,sberbank,–û—Ñ–æ—Ä–º–ª—è–µ–º –∏–ø–æ—Ç–µ–∫—É –≤ –°–±–µ—Ä–±–∞–Ω–∫–µ. 22.06.2020 –±—ã–ª–∏...,01.07.2020 10:53
1,alfabank,–ö—Ä–∞—Ç–∫–æ–µ —Å–æ–¥–µ—Ä–∂–∞–Ω–∏–µ: –Ω–µ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –±—Ä–∞—Ç—å –∫—Ä–µ–¥–∏—Ç...,20.06.2019 13:19
2,v-express-bank,"–î–æ–±—Ä—ã–π –¥–µ–Ω—å, —É–≤–∞–∂–∞–µ–º—ã–µ —Å–æ—Ç—Ä—É–¥–Ω–∏–∫–∏ —Å–ª—É–∂–±—ã –∫–æ–Ω—Ç—Ä...",20.02.2016 11:46
3,homecreditbank,"–û–±—Ä–∞—â–∞–ª—Å—è –∑–∞ –ø–æ–ª—É—á–µ–Ω–∏–µ–º –∫–∞—Ä—Ç—ã ""–ó–µ–ª–µ–Ω–∞—è –ø–æ–ª—å–∑–∞""...",06.05.2019 15:48
4,vtb,20.05.2016 –æ–±—Ä–∞—Ç–∏–ª–∞—Å—å –≤ –æ—Ç–¥–µ–ª–µ–Ω–∏–µ –±–∞–Ω–∫–∞ –Ω–∞ –ø—Ä–æ...,23.05.2016 15:41
...,...,...,...
17215,sberbank,"21.09.2018 –≤ 15:26:56, —è, –û-–≤–∞ –ö. –ö., —Å–Ω–∏–º–∞–ª–∞ ...",22.09.2018 16:08
17216,homecreditbank,"–ù–∞–≤–µ—Ä–Ω—è–∫–∞ –Ω–µ –∑–∞—Å—á–∏—Ç–∞—é—Ç, –Ω–æ —Ç–µ–º –Ω–µ –º–µ–Ω–µ–µ. –ù—É–∂–Ω–∞...",06.10.2011 9:35
17217,interprombank,"15.08.2019 —è, –∫–∞–∫ —Ñ–∏–∑.–ª–∏—Ü–æ –æ–±—Ä–∞—Ç–∏–ª–∞—Å—å –≤ –æ—Ñ–∏—Å –Ω...",21.08.2019 14:13
17218,otpbank,"–£ –±–∞–Ω–∫–∞ –µ—Å—Ç—å —Ä–µ–∫–ª–∞–º–Ω—ã–π –ø—Ä–æ–¥—É–∫—Ç-–∏–≥—Ä–∞ ""–ú–æ–∏ —Ä—ã–±–∫–∏...",29.05.2020 16:12
17219,sberbank,26 –º–∞—è 2015 –≥–æ–¥–∞ –º–Ω–æ—é –±—ã–ª–∞ —Å–æ–≤–µ—Ä—à–µ–Ω–∞ –æ–ø–µ—Ä–∞—Ü–∏—è ...,02.06.2015 15:44

# –ù–æ–≤—ã–π —Ä–∞–∑–¥–µ–ª

In [ ]:
with Pool(4) as p:
    lemmas_test = list(tqdm(p.imap(clean_text, test['feeds']), total=len(test)))

100%|‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 17220/17220 [07:24<00:00, 38.75it/s]

In [ ]:
pred = clf.predict(vec.transform(lemmas_test))
pred

array([1, 1, 1, ..., 1, 1, 1])

In [ ]:
sol = pd.DataFrame({'inds': test.index,
                    'grades': pred})
sol

        inds  grades
0          0       1
1          1       1
2          2       1
3          3       1
4          4       1
...      ...     ...
17215  17215       1
17216  17216       1
17217  17217       1
17218  17218       1
17219  17219       1

[17220 rows x 2 columns]

In [ ]:
sol.to_csv('new_baseline.csv', index=False)

–ö—Å—Ç–∞—Ç–∏, –µ—Å–ª–∏ –æ–±—Ä–∞—Ç–∏—Ç–µ –≤–Ω–∏–º–∞–Ω–∏–µ –Ω–∞ —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ –≤–µ–∫—Ç–æ—Ä–∞ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã—Ö –∫–ª–∞—Å—Å–æ–≤, —Ç–æ –Ω–∞–≤–µ—Ä–Ω—è–∫–∞ –∑–∞–º–µ—Ç–∏—Ç–µ, —á—Ç–æ –º–æ–¥–µ–ª—å –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞–µ—Ç —Ç–æ–ª—å–∫–æ 1 –∏ 5, —Ä–µ–¥–∫–æ 2 –∏ 3 –∏ –≤–æ–æ–±—â–µ –Ω–∏–∫–æ–≥–¥–∞ –∫–ª–∞—Å—Å 4. –û—Ç—á–∞—Å—Ç–∏ —ç—Ç–æ –ª–æ–≥–∏—á–Ω–æ -- –Ω–∞–±–ª—é–¥–∞–µ—Ç—Å—è —Å–∏–ª—å–Ω—ã–π –¥–∏—Å–±–∞–ª–∞–Ω—Å –∫–ª–∞—Å—Å–æ–≤. –ù–æ —ç—Ç–æ—Ç –Ω–µ–¥–æ—á–µ—Ç –Ω–µ–ø–ª–æ—Ö–æ –±—ã –∏—Å–ø—Ä–∞–≤–∏—Ç—å –≤ –≤–∞—à–∏—Ö —Ä–µ—à–µ–Ω–∏—è—Ö

In [ ]:
unique, counts = np.unique(pred, return_counts=True)
np.asarray((unique, counts)).T

array([[    1, 12381],
       [    2,    48],
       [    3,     1],
       [    5,  4790]])